html,
body {
  height: 100%;
  margin: 0;
}
div.container {
  margin: 0;
  width: 100%;
  height: 100%;
  background: #ff5f6d;
  background: -webkit-linear-gradient(to right, #ffc371, #ff5f6d);
  background: linear-gradient(to right, #ffc371, #ff5f6d);

  color: #e6ffff;
  overflow: hidden;
  text-align: center;
}

div.container h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  color: #ffffff;
  margin-top: 80px;
}

#welcomemsg {
  color: white;
}

div.container h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: #ffffff;
}

div.container form {
  margin: 20px;
}

div.container input {
  width: 350px;
  height: 15px;
  font-size: 15px;
  margin: 5px;
  padding: 10px;
  transition: all 0.2s ease-in-out;
}

div.container h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  color: #ddccee;
  margin-top: 80px;
}

.generalButton {
  width: 80px;
  height: 30px;
  background-color: rgb(246, 246, 246);
  color: rgb(0, 0, 0);
  font-family: "Arial, Helvetica, sans-serif";
  border-radius: 25px;
}

.t-button {
  width: 150px;
  height: 30px;
  border-radius: 25px;
  margin-bottom: 0.5cm;
}

.submit-margin {
  margin-top: 0.25cm;
}

.content-margin {
  margin-top: -0.25cm;
}

div.container p {
  margin: 100px;
  font-size: large;
}

div.message {
  font-size: 15px;
  color: teal;
}

div.container table {
  table-layout: auto;
  margin-right: 30px;
}

.gender-font {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(255, 255, 255);
}

#gender {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

div.container th,
td {
  width: 0.01%;
  border: 1px;
  border-style: solid;
}

.budget-margin {
  margin-top: 0.25cm;
}

::placeholder {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.requirements::placeholder {
  padding-left: 0.1cm;
}

.login-with-google-btn {
  transition: background-color 0.3s, box-shadow 0.3s;

  margin-top: -5px;

  padding: 12px 16px 12px 42px;
  border: none;
  border-radius: 3px;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);

  color: #757575;
  font-size: 14px;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
  background-color: white;
  background-repeat: no-repeat;
  background-position: 12px 11px;

  &:hover {
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25);
  }

  &:active {
    background-color: #eeeeee;
  }

  &:focus {
    outline: none;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25),
      0 0 0 3px #c8dafc;
  }

  &:disabled {
    filter: grayscale(100%);
    background-color: #ebebeb;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
    cursor: not-allowed;
  }
}
